:root {
  /* Colors */
  --primary-color: #00c7fc;
  --secondary-color: #ffffff;
  --light-color: #777;
  --transparent-color: rgba(15, 116, 143, 0.7);
  --overlay-color: rgba(0, 0, 0, 0.6);
  /* Dimensions */
  --section-padding: 6.25rem;
  --small-icon-width: 1.25rem;
  --icon-width: 1.5rem;
  --large-icon-width: 2rem;
  --p-line-height: 2;
}
/** Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
svg {
  width: var(--icon-width);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/** End Global Rules */
/** Start Components */
/* Main Heading */
.main-heading {
  text-align: center;
  padding: 1.25rem;
}
.main-heading > h2 {
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 4.375rem;
  text-transform: uppercase;
  position: relative;
}
.main-heading > h2::before,
.main-heading > h2::after {
  content: "";
  position: absolute;
}
/* The line */
.main-heading > h2::before {
  height: 2px;
  width: 7.5rem;
  background-color: #333333;
  bottom: -2.1875rem;
  left: 50%;
  transform: translateX(-50%);
}
/* The circle */
.main-heading > h2::after {
  background-color: var(--secondary-color);
  bottom: -2.1875rem;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  border: 2px solid #333333;
}
.main-heading > p {
  width: 550px;
  /* To take 100% when screen is small */
  max-width: 100%;
  margin: 0 auto 4.0625rem;
  color: var(--light-color);
  line-height: var(--p-line-height);
}
/** End Components */

/** Start Header */
header {
  /* So we can place it above the image in the landing area */
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 6.0625rem;
}
/* The underline */
header .container::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  height: 0.0625rem;
  width: calc(100% - 1.875rem);
  bottom: 0px;
  left: 0.9375rem;
}
header .logo img {
  height: 2.5rem;
}
header nav {
  /* Take remaining space */
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .menu {
  color: var(--secondary-color);
  width: calc(var(--small-icon-width) + 0.125rem);
}
/* Disappear at large screens */
@media (min-width: 768px) {
  header nav .menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
/* Disappear at small screens */
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .menu:hover + ul {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--overlay-color);
    width: 100%;
  }
  header nav .menu:hover + ul a {
    padding: 0.9375rem;
  }
}
header nav ul a {
  /* To respect our properties */
  display: block;
  color: var(--secondary-color);
  font-size: 0.875rem;
  transition: 0.3s;
  padding: 2.5rem 0.625rem;
  /* To make the bottom border appear when hover */
  position: relative;
  z-index: 2;
}
header nav ul a.active,
header nav ul a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
header nav .form {
  width: 1.875rem;
  height: 1.875rem;
  color: var(--secondary-color);
  margin-left: 1.875rem;
  border-left: 1px solid var(--secondary-color);
  /* So the search icon moved based on it */
  position: relative;
}
header nav .form svg {
  width: var(--small-icon-width);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* This to know that at the last commit i created the head section */
/** End Header */

/** Start Landing */
.landing {
  min-height: 100vh;
  /* The background color for if the image didn't load */
  background-color: #1f2021;
  background-image: url(../assets/images/landing.jpg);
  background-size: cover;
  position: relative;
}
/* A layer above the landing */
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}
.landing .text {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 3.125rem;
  color: var(--secondary-color);
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
.landing .text .content {
  max-width: 31.25rem;
}
@media (max-width: 767px) {
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.landing .text .content p {
  font-size: 0.875rem;
  line-height: var(--p-line-height);
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  width: var(--large-icon-width);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .lucide-chevron-right {
  right: 0.863rem;
}
.landing .lucide-chevron-left {
  left: 0.863rem;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  bottom: 1.875rem;
  transform: translate(-50%);
  display: flex;
}
.landing .bullets li {
  width: var(--small-icon-width);
  height: var(--small-icon-width);
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  margin-right: 0.625rem;
}
.landing .bullets li.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
/** End Landing */

/** Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.services .content .card {
  display: flex;
  align-items: flex-start;
  padding: 1.25rem;
}
.services .content .card svg {
  width: 9.75rem;
  margin-right: 3.125rem;
}
.services .content .card .text h3 {
  color: var(--primary-color);
  margin-bottom: 1.875rem;
}
.services .content .card .text p {
  color: var(--light-color);
  line-height: var(--p-line-height);
}
/** End Services */
