:root {
  /* Colors */
  --primary-color: #00c7fc;
  --secondary-color: #ffffff;
  --light-color: #777;
  --transparent-color: rgba(15, 116, 143, 0.7);
  --overlay-color: rgba(0, 0, 0, 0.6);
  /* Dimensions */
  --section-padding: 6.25rem;
  --text-card-padding: 3.125rem;
  --small-font-size: 0.875rem;
  --small-icon-width: 1.25rem;
  --icon-width: 1.5rem;
  --large-icon-width: 2rem;
  --p-line-height: 2;
  --z-fixed: 100;
  /* Transitions */
  --main-transition: 0.3s;
}

/** Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
svg {
  width: var(--icon-width);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/** End Global Rules */
/** Start Components */
/* Section */
.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
/* Main Heading */
.main-heading {
  text-align: center;
  padding: 1.25rem;
}
.main-heading > h2 {
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 4.375rem;
  text-transform: uppercase;
  position: relative;
}
.main-heading > h2::before,
.main-heading > h2::after {
  content: "";
  position: absolute;
}
/* The line */
.main-heading > h2::before {
  height: 2px;
  width: 7.5rem;
  background-color: #333333;
  bottom: -2.1875rem;
  left: 50%;
  transform: translateX(-50%);
}
/* The circle */
.main-heading > h2::after {
  background-color: var(--secondary-color);
  bottom: -2.1875rem;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  border: 2px solid #333333;
}
.main-heading > p {
  width: 34.375rem;
  /* To take 100% when screen is small */
  max-width: 100%;
  margin: 0 auto 4.0625rem;
  color: var(--light-color);
  line-height: var(--p-line-height);
}
/** End Components */

/** Start Header */
header {
  /* So we can place it above the image in the landing area */
  position: absolute;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 6.0625rem;
}
/* The underline */
header .container::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  height: 0.0625rem;
  width: calc(100% - 1.875rem);
  bottom: 0px;
  left: 0.9375rem;
}
header .logo img {
  height: 2.5rem;
}
header nav {
  /* Take remaining space */
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .menu {
  color: var(--secondary-color);
  width: calc(var(--small-icon-width) + 0.125rem);
}
/* Disappear at large screens */
@media (min-width: 768px) {
  header nav .menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
/* Disappear at small screens */
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .menu:hover + ul {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--overlay-color);
    width: 100%;
  }
  header nav .menu:hover + ul a {
    padding: 0.9375rem;
  }
}
header nav ul a {
  /* To respect our properties */
  display: block;
  color: var(--secondary-color);
  font-size: var(--small-font-size);
  transition: var(--main-transition);
  padding: 2.5rem 0.625rem;
  /* To make the bottom border appear when hover */
  position: relative;
  z-index: var(--z-fixed);
}
header nav ul a.active,
header nav ul a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
header nav .form {
  width: 1.875rem;
  height: 1.875rem;
  color: var(--secondary-color);
  margin-left: 1.875rem;
  border-left: 1px solid var(--secondary-color);
  /* So the search icon moved based on it */
  position: relative;
}
header nav .form svg {
  width: var(--small-icon-width);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* This to know that at the last commit i created the head section */
/** End Header */

/** Start Landing */
.landing {
  min-height: 100vh;
  /* The background color for if the image didn't load */
  background-color: #1f2021;
  background-image: url(../assets/images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}
.landing .text {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: var(--text-card-padding);
  color: var(--secondary-color);
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
  z-index: var(--z-fixed);
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
.landing .text .content {
  max-width: 31.25rem;
}
@media (max-width: 767px) {
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.landing .text .content p {
  font-size: var(--small-font-size);
  line-height: var(--p-line-height);
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  width: var(--large-icon-width);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .lucide-chevron-right,
.landing .lucide-chevron-left {
  z-index: var(--z-fixed);
  cursor: pointer;
}
.landing .lucide-chevron-right {
  right: 0.863rem;
}
.landing .lucide-chevron-left {
  left: 0.863rem;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  bottom: 1.875rem;
  transform: translate(-50%);
  display: flex;
  z-index: var(--z-fixed);
  cursor: pointer;
}
.landing .bullets li {
  width: var(--small-icon-width);
  height: var(--small-icon-width);
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  margin-right: 0.625rem;
}
.landing .bullets li.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
/** End Landing */

/** Start Services */
.services .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 991px) {
  .services .content {
    grid-template-columns: 1fr;
  }
}
.services .content .card {
  display: flex;
  align-items: flex-start;
  padding: 1.25rem;
  gap: 1.875rem;
}
@media (max-width: 767px) {
  .services .content .card {
    text-align: center;
    flex-flow: column;
    align-items: center;
    gap: 1.25rem;
  }
}
.services .content .card svg {
  min-width: 3rem;
}
.services .content .card .text h3 {
  color: var(--primary-color);
  margin-bottom: 1.875rem;
}
.services .content .card .text p {
  color: var(--light-color);
  line-height: var(--p-line-height);
}
/** End Services */

/** Start Design */
.design {
  background-image: url(../assets/images/design-features.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: var(--section-height);
  display: flex;
  align-items: center;
}
.design .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}
.design .container {
  position: relative;
}
.design .image,
.design .text {
  z-index: var(--z-fixed);
  position: relative;
  flex: 1;
}
.design .image {
  text-align: center;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  position: relative;
  bottom: -9.375rem;
}
.design .text {
  color: var(--secondary-color);
  background-color: var(--transparent-color);
  padding: var(--text-card-padding);
  display: flex;
  flex-flow: column;
}
.design .text h2 {
  font-weight: normal;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}
.design .text li {
  padding: 0.9375rem 0;
}
.design .text li::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="14" x="2" y="3" rx="2"/><line x1="8" x2="16" y1="21" y2="21"/><line x1="12" x2="12" y1="17" y2="21"/></svg>');
  display: inline-block;
  width: 1.5rem;
  margin-right: 0.9375rem;
  vertical-align: middle;
}
/** End Design */

/** Start Portfolio */
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;
}
.portfolio .shuffle li.active {
  background-color: var(--primary-color);
}
.portfolio .images-container {
  margin-top: 3.75rem;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .images-container .box:hover .caption {
  bottom: 0;
}
.portfolio .images-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}
.portfolio .images-container .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.portfolio .images-container .box .caption {
  position: absolute;
  left: 0;
  padding: 1.25rem;
  background-color: var(--secondary-color);
  width: 100%;
  transition: var(--main-transition);
  bottom: -100%;
}
.portfolio .images-container .box .caption h4 {
  color: var(--primary-color);
  margin-bottom: 0.625rem;
}
.portfolio .images-container .box .caption p {
  color: var(--light-color);
}
.portfolio .more {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.9375rem 1.875rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.5rem auto;
  text-decoration: none;
  text-transform: uppercase;
}
/** End Portfolio */

/** Start Video */
.video {
  position: relative;
  padding: 0;
}
.video .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.video video {
  max-width: 100%;
}
.video .text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: var(--text-card-padding);
  color: var(--secondary-color);
  background-color: var(--transparent-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: var(--z-fixed);
}
.video .text h2 {
  margin: 0 0 1.25rem;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 1.875rem;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 0.9375rem 1.875rem;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
}
/** End Video */

/** Start About */
.about {
  overflow: hidden;
  text-align: center;
  padding-bottom: 0;
}
.about img {
  position: relative;
  bottom: -7.5rem;
  margin-top: -7.5rem;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -3.75rem;
    margin-top: -3.75rem;
  }
}
/** End About */

/** Start Statics */
.statics {
  background-image: url(../assets/images/stats.png);
  background-size: cover;
  position: relative;
}
.statics .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}
.statics .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  color: white;
  background-color: var(--transparent-color);
  padding: var(--text-card-padding);
  z-index: var(--z-fixed);
  position: relative;
}
@media (max-width: 767px) {
  .statics .container {
    margin-right: 0.625rem;
    margin-left: 0.625rem;
  }
}
@media (max-width: 767px) {
  .statics .box {
    flex-basis: 100%;
    padding: 2.8125rem;
  }
}
.statics .box svg {
  width: 2.5rem;
  color: white;
  background: black;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0 auto 30px;
}
.statics .box .number {
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.statics .box p {
  font-size: var(--small-font-size);
}
/** End Statics */

/** Start Skills */
.skills .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .skills .container > div {
    flex-basis: 45%;
  }
}
.skills .container > div > h3 {
  margin-bottom: 1.875rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.skills .container > div > p {
  color: var(--light-color);
  text-align: center;
  margin-bottom: 3.75rem;
  line-height: var(--p-line-height);
}
.skills .testimonials .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
  text-align: center;
}
@media (min-width: 768px) {
  .skills .testimonials .box {
    flex-direction: row;
  }
}
.skills .testimonials .box img {
  width: 6.25rem;
  border-radius: 50%;
}
.skills .testimonials .text {
  line-height: var(--p-line-height);
  border-bottom: 1px solid #ccc;
}
@media (min-width: 768px) {
  .skills .testimonials .text {
    text-align: start;
  }
}
.skills .testimonials .text p {
  color: var(--light-color);
  text-align: right;
  font-size: var(--small-font-size);
  margin-bottom: 0.625rem;
}
.skills .testimonials .bullets {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  display: flex;
  justify-content: center;
}
.skills .testimonials .bullets li {
  width: var(--small-icon-width);
  height: var(--small-icon-width);
  border: 2px solid #aaa;
  border-radius: 50%;
  margin-right: 0.625rem;
}
.skills .testimonials .bullets li.active {
  background-color: var(--primary-color);
}
.skills .our-skills .prog-holder {
  margin-bottom: 2.5rem;
}
.skills .our-skills .prog-holder > h4 {
  font-weight: normal;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}
.skills .our-skills .prog-holder .prog {
  width: 100%;
  height: 1.875rem;
  background-color: #dedadc;
}
.skills .our-skills .prog-holder .prog span {
  display: block;
  height: 100%;
  background-color: var(--primary-color);
  position: relative;
}
.skills .our-skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  color: white;
  background-color: black;
  border-radius: 0.25rem;
  padding: 0.3125rem;
  top: -2.5rem;
  right: 0;
  transform: translateX(50%);
}
.skills .our-skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border: 0.625rem solid transparent;
  border-top-color: black;
  right: 0;
  top: -0.8125rem;
  transform: translateX(50%);
}
/** End Skills */

/** Start Quote */
.quote {
  background-image: url(../assets/images/quote.jpg);
  background-size: cover;
  color: white;
  position: relative;
}
.quote .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.quote .container {
  z-index: var(--z-fixed);
  position: relative;
  text-align: center;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
/** End Quote */

/** Start Pricing */
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.875rem;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head {
  padding: 2.5rem 1.25rem;
  border-top: 1px solid var(--primary-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 3.75rem;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: attr(price-tag);
  font-size: 1.5625rem;
  position: relative;
  top: -2.5rem;
  margin-right: 0.9375rem;
  font-weight: normal;
}
.pricing .plans .plan .head span::after {
  content: "/BM";
  font-size: 1.5625rem;
  position: relative;
  right: -0.9375rem;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--primary-color);
}
.pricing .plans .plan ul li {
  padding: 1.25rem;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 7.5rem;
  height: 1px;
  background: var(--primary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .plans .plan .foot a {
  display: block;
  padding: 1.25rem;
  border: 1px solid var(--primary-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.875rem auto;
}
.pricing .contact-text {
  text-align: center;
  margin: 3.125rem auto 1.25rem;
  font-size: 1.25rem;
}
.pricing .contact-link {
  text-align: center;
  display: block;
  background: var(--primary-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.125rem 1.875rem;
  color: white;
  margin: 0 auto;
  transition: 0.3s;
}
.pricing .contact-link:hover {
  transform: scale(105%);
}
/** End Pricing */

/** == SUBSCRIBE == */
.subscribe {
  background-image: url(../assets/images/subscribe.jpg);
  background-size: cover;
  color: white;
  position: relative;
}
.subscribe .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.subscribe .container {
  z-index: var(--z-fixed);
  position: relative;
  display: flex;
  gap: 3.125rem;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  width: 31.25rem;
  max-width: 100%;
  position: relative;
}
.subscribe form svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.125rem;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 1.25rem 1.25rem 1.25rem 3.75rem;
  caret-color: var(--primary-color);
  width: calc(100% - 8.125rem);
}
.subscribe form input[type="email"]::-webkit-input-placeholder {
  color: white;
}
.subscribe form input[type="email"]::-moz-placeholder {
  color: white;
}
.subscribe form input[type="email"]:-ms-input-placeholder {
  color: white;
}
.subscribe form input[type="email"]::-ms-input-placeholder {
  color: white;
}
.subscribe form input[type="email"]::placeholder {
  color: white;
}
.subscribe form input[type="submit"] {
  width: 8.125rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.625rem 1.25rem;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  /* Remove outline when focus */
  outline: none;
}
.subscribe p {
  line-height: var(--p-line-height);
}

/** == CONTACT == */
.contact.section .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact.section .content {
    flex-direction: column;
  }
}
.contact.section .content form {
  flex-basis: 70%;
}
.contact.section .content form .main-input {
  padding: 1.25rem;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 1.875rem;
}
.contact.section .content form .main-input:focus {
  outline: none;
}
.contact.section .content form textarea.main-input {
  height: 12.5rem;
}
.contact.section .content form input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  padding: 1.25rem;
  border: none;
  cursor: pointer;
  /* Good to make it go to right */
  display: flex;
  margin-left: auto;
}
@media (max-width: 767px) {
  .contact.section .content form input[type="submit"] {
    margin: 0 auto;
  }
}
.contact.section .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact.section .content .info {
    text-align: center;
    margin-top: 2.5rem;
  }
}

.contact.section .content .info h4 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.875rem;
  font-size: 1.125rem;
}
.contact.section .content .info .phone {
  display: block;
  margin-bottom: 0.625rem;
  color: var(--light-color);
}
.contact.section .content .info h4:nth-of-type(2) {
  margin-top: 5.625rem;
}
@media (max-width: 767px) {
  .contact.section .content .info h4:nth-of-type(2) {
    margin-top: 1.875rem;
  }
}
.contact.section .content .info address {
  color: var(--light-color);
  line-height: var(--p-line-height);
}
